<div class="intro">
<div class="column-1of1">
I am a software developer. I am interested in OpenGL, Web development and mobile development. 
To find more, go to <a href="/about">About Me</a> .

<ul>
<li>
<!--h4 class="section-title">OpenGL</h4-->
My main interst is how to use OpenGL to shape the world. But I am not strong at it. I am still learning.
</li>

<li>
<!--h4 class="section-title">Web Development</h4-->
I use PHP and Python to develop websites. Some languages I have used: Javascript, HTML, CSS. 
Frameworks: WordPress, Django.

</li>

<li>
<!--h4 class="section-title">Mobile Development</h4-->
I write IOS applications with Object-C and Swift.
</li>

</ul>

</div>
</div>
