
.first{
  float: left;
}

.last{
  float: right;
}

.row{
  width: 100%;
  display: inline-block;
}

.column-1of2{
  width: 50%;
}

.section-title{
  color: #092471;
}

/*********************
* HEADER
*********************/
.site-header .wrapper{
  position: relative;
  height: 120px;
}

.header-image{
  display: flex;
  position: absolute;
  width: 100%;
}
.header-image a{
  width: 100%;
}

.site-nav{
  position: absolute;
  left: 10px;
  bottom: 0px;
}

.site-nav .page-link{
  color: white;
}

.header-image img{
  margin: 0 auto;
  width: 100%;
}


/*********************
* About
*********************/
.about{
}

.about-image{
  float:left;
  padding: 10px;
}

.about-text{
  padding: 10px;
}
